body { /*Defines background and font properties*/
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #000;

    background: linear-gradient(45deg, #18aaff, #00ff95, #8400ff, #ff61a2);
            

    background-size: 300% 300%; 

    animation-name: background-pan;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

    background-attachment: fixed;
    background-repeat: no-repeat;
}
@keyframes background-pan {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
.container { /*Contains all data in a centered container*/
    max-width: 1200px;
    margin: 0 auto; /* Center the content */
    background-image: linear-gradient(to bottom right, #ffffffb0, #ccccccc4, #ffffffa1);
    padding: 25px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px #0000000d;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
a { /*makes it so that links aren't underlined when looking at them*/
    color: #268bd2; /* A pleasant blue for links */
    text-decoration: none;
}
a:hover { /*makes it so that links are underlined when you hover over them*/
    text-decoration: underline;
}
table {
    width: 100%;
    font-size: 24px;
}
@keyframes changeInfoColor {
    0% {color: #000000;}
    100% {color: #ff0000;}
}
.chargeInfoColor {
  color: #ff0000;
  animation-name: changeInfoColor;
  animation-duration: 1.5s;
}