body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #ffffff;
    line-height: 1.6;
    margin: 0;
    padding: 20px;

    background-image: linear-gradient(to bottom right, #000000, #1f1f1f, #333333);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
               
}
h1 {
    color: #ffe15d;
    border-bottom: 2px solid #fff131;
    padding-bottom: 10px;

}
.container {
    margin: 0 auto;
    background-color: #1a1a1a;
    padding: 12px 20px;
    border-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}
a {
    color: #afafaf;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover { 
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}
table { 
    width: 100%;
}
@keyframes titleColorChange {
    0% {color: #00000000;}
    25% {color: #ffffff8a;}
    50% {color: #ff0000b6;}
    75% {color: #00d9ff;}
    100% {color: #ffe15d; font-style: bold}
}
.titleColorChange {
  color: #ffe15d;
  font-style: bold;
  animation-name: titleColorChange;
  animation-duration: 5s;
  animation-timing-function: linear;
}
@keyframes paragraphAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}
.paragraphAppear {
    animation-fill-mode: forwards;
    animation-delay: 6;
    animation-name: paragraphAppear;
    animation-duration: 0.5s;
}